* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spinner-1:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 1.5px dotted green;
  border-top-color: yellow;
  animation: spinner 0.7s linear infinite;
}

.spinner-2:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px dotted transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;
}

.spinner-3:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px dotted transparent;
  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}



@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}